@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
}

.page {
    height: calc(100vh - 62px);
}